<div class="post">
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong class="post-title">
        {{link-to post.title 'post' post.id}}
      </strong>
      <span class="post-date label label-info pull-right">{{post.posted_date}}</span>
    </div>
    <div class="panel-body">
      {{#if post.hasImage}}
        <img src="{{post.image}}" class="img-responsive post-image">
      {{/if}}
      <div class="post-content">
        {{{post.content}}}
      </div>
    </div>
  </div>
</div>
