<div class="container">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2">
    <div class="jumbotron">
      <h1 class="display-3">404</h1>
      <p class="lead">Oops! The page you were looking for was not found!</p>
      <hr class="my-4">
      <p></p>
      <p class="lead">
	{{#link-to "posts" class="btn btn-info btn-lg" role="button"}}Return To Home{{/link-to}}
      </p>
    </div>
  </div>
</div>
